.form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.input {
  width: 300px;
  height: 40px;
  border: none;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 10px;
}
.input:hover,
.input:focus {
  border: none;
  outline: none;
}
.button {
  height: 40px;
  border: none;
  box-shadow: 0 0 40px rgba(32, 236, 5, 0.685) inset;
  cursor: pointer;
}
.button:hover,
.button:focus {
  border: none;
  outline: none;
}
