.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.searchFormInput {
  width: 300px;
  height: 40px;
  border: none;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 10px;
}
.searchFormInput:hover,
.searchFormInput:focus {
  border: none;
  outline: none;
}
.searchFormButton {
  height: 40px;
  border: none;
  box-shadow: 0 0 40px rgba(32, 236, 5, 0.685) inset;
  cursor: pointer;
}
.searchFormButton:hover,
.searchFormButton:focus {
  border: none;
  outline: none;
}
